.map-container {
  position: absolute;
  margin-top: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.deck-gl-container {
  margin-top: 100px;
  height: 50vh;
  width: 50vw;
}

.sidebarStyle {
  position: absolute;
  z-index: 1000;
}

.polygon-selector {
  position:  absolute;
  background-color: aqua;
    margin-left: 50%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
}


/* Input Styles */
.mapboxgl-ctrl-geocoder input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Suggestions Dropdown Styles */
.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

.style-selector-div {
  position:  absolute;
  background-color: aqua;
    margin-left: 20px;
}

.map-style-active{
  background-color: olive;
}

.search-polygons {
  position:  absolute;
  margin-left: 20px; 
  margin-top: 40px;
}

.search-polygons input {
  width: 550px;
}